<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tile_Plain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Tile_Road_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture.png</string>
            <key>size</key>
            <string>{74,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56982718a7ae1870c7144c131dcd1b5c:720b21ad4c6ce528f767fe0118299123:f46617b9879efc77edf243fcb535d10c$</string>
            <key>textureFileName</key>
            <string>Texture.png</string>
        </dict>
    </dict>
</plist>
