<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MovingAreaGrid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_ArrowBelow.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,3},{30,26}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_ArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,37},{24,30}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_ArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,3},{26,30}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_ArrowUpper.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,37},{30,24}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{30,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_CornerBelowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,37},{26,24}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_CornerBelowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,33},{24,24}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_CornerUpperLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,3},{26,26}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_CornerUpperRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,33},{24,26}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_LineHorizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,39},{32,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>MovingPathGrid_LineVertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,39},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Tile_Forest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Tile_Plain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Tile_Road_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Tile_Sea_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Unit_Battleship_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Unit_Bomber_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,3},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Unit_Infantry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,3},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Unit_Tank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,33},{24,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Texture.png</string>
            <key>size</key>
            <string>{400,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c13ceec74c0f8b26a5bf75f1c77253:8c38b1736b5b9c1f8d9fbc6e94a802c3:f46617b9879efc77edf243fcb535d10c$</string>
            <key>textureFileName</key>
            <string>Texture.png</string>
        </dict>
    </dict>
</plist>
